@tailwind base;
@tailwind components;
@tailwind utilities;

.box1 {
    background: linear-gradient(to bottom, #e092f774, #f796cf7b);
    width: 70%;
    height: 85vh;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}